* {
  text-align: center;
}

.search {
  position: relative;
  top: 130px;
  z-index: 1;
  width: 80%;
  margin: auto;
}
.carousel-item img {
  opacity: 0.8;
}
.destacadas {
  margin: 0 auto;
}

.card {
  width: 18rem;
  margin: 10px auto;
  color: black;
}
.card img {
  height: 13rem;
}
#resultado {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
#todas {
  margin-top: 5px;
  background-color: rgb(37, 36, 36);
  color: #fafafa;
  padding: 10px;
}

.contacto {
  background: rgb(27, 27, 27);
  color: #fafafa;
}
.contacto ul {
  list-style: none;
}
@media (min-width: 600px) {
  .search {
    top: 400px;
  }
  .cards {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  .card {
    width: 30%;
  }
  .sobre-nosotros p {
    padding: 10px 80px;
  }
}
.mensaje-error {
  color: #fafafa;
  border: 3px solid #fafafa;
  justify-content: center;
  padding: 1rem;
}
